<% if user_signed_in? %>
  <footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      Andrés Hernández:
      <a href="https://github.com/aahrodriguez" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/aahrodriguez/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </footer>
<% end %>
